%h3 
  Bookings for
  = @resource.name

- @bookings.each do |booking|
  .booking
    = link_to "Delete", resource_booking_path(@resource, booking), data: { confirm: 'Are you sure?' }, method: :delete
    = link_to "Edit", edit_resource_booking_path(@resource, booking)


