- @resources.each do |resource|
  .resource
    = resource.name
    = link_to "Delete", resource_path(resource), data: { confirm: 'Are you sure?' }, method: :delete
    = link_to "Edit", edit_resource_path(resource)
    = link_to "Add booking", new_resource_booking_path(resource)
